page-about {
    ion-header {
        padding-bottom: 100px;
        background-image: url(../assets/imgs/logo-text.png);
        background-color: rgba(38, 42, 51, .7);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80px;
        margin-bottom: 30px;
        .toolbar-background {
            background: transparent;
            border: none !important;
        }        
        .tm-logo-name {
            display: none;
            position: absolute;
            bottom: 5px;
            width: 100%;
            text-align: center;
            color: #ffffff;
            font-size: 30px;
            font-family: 'RosaMarena', sans-serif;
        }
        /* .tm-back-btn {
            color: #ffffff;
            .button-inner {
                text-transform: capitalize;
            }
        } */
        .back-button {
            color: #ffffff;
        }
        .tm-settings {
            width: 25px;
        }
    }
    .content {
        background-image: url('../assets/imgs/bg.jpg');
        background-size: cover;
        background-position: center;
        .scroll-content {
            background: rgba(38, 42, 51, .5);
            padding: 0 !important;
            .tm-wrap-input {
                width: 80%;
                margin: 0 auto;
                .item {
                    background: transparent;
                    padding-left: 25%;
                    height: 80px;
                    border-bottom: 1px solid rgba(255, 255, 255, .2);
                    .item-inner {
                        border-bottom: none;
                    }
                    ion-thumbnail {
                        min-width: auto;
                        min-height: auto;
                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
                .item-block {
                    &:first-child {
                        border-top: none;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                    .tm-text {
                        color: #ffffff;
                    }
                }
            }

            .tm-holidays {
                height: 80px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ffffff;
                background: $btn-reg;
                font-size: 18px;
            }
            .tm-slider-wrapper {
                position: relative;
                .tm-arrow {
                    position: absolute;
                    z-index: 5;
                    &.tm-right {
                        top: calc(50% - 10px);
                        right: 20px;
                    }
                    &.tm-left {
                        top: calc(50% - 10px);
                        left: 20px;
                    }
                    img {
                        height: 20px;
                    }
                }
                ion-slides {
                    height: 150px;
                    .item {
                        background: transparent;
                        width: 70%;
                        margin: 0 auto;
                        height: 150px;
                        .item-inner {
                            border-bottom: none;
                        }
                        ion-thumbnail {
                            img {
                                width: 100px;
                                height: 100px;
                                border-radius: 50%;
                            }
                        }
                        .tm-text-h {
                            color: #ffffff;
                        }
                        p {
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}

@font-face {
	font-family: 'RosaMarena';
	src: url('../assets/fonts/RosaMarena.eot');
	src: url('../assets/fonts/RosaMarena.eot?#iefix') format('embedded-opentype'),
		 url('../assets/fonts/RosaMarena.woff') format('woff'),
		 url('../assets/fonts/RosaMarena.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
