page-feast {
    ion-header {
        background-color: rgba(38, 42, 51, .7);
        .toolbar-background-ios {
            background: transparent;
            border: none !important;
        }        
        .toolbar-title {
            color: #ffffff;
        }
        .back-button {
            color: #ffffff;
        }
        .tm-settings {
            width: 25px;
        }
    }
    .content {
        background-image: url('../assets/imgs/bg.jpg');
        background-size: cover;
        background-position: center;
        .scroll-content {
            background: rgba(86, 90, 107, .6);
            .tm-text {
                color: #ffffff;
                padding: 20px 10%;
                font-size: 18px;
                .emph {
                    color: #a6acb9;
                    font-weight: 600;
                }
            }
        }
    }
}
