page-contact {
    ion-header {
        background-color: rgba(0, 0, 0, .6);
        .toolbar-background {
            background: transparent;
            border: none !important;
        }        
        .tm-back-btn {
            color: #ffffff;
        }
        .tm-settings {
            width: 20px;
        }
        .tm-title-wrap {
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                margin-right: 10px;
            }
        }
    }
    .content {
        background-image: url('../assets/imgs/bg.jpg');
        background-size: cover;
        background-position: center;
        .scroll-content {
            background: rgba(0, 0, 0, .5);
            .list {
                margin-bottom: 0;
            }
            .item {
                background: transparent;
                border-bottom: 1px solid rgba(201, 201, 201, .2);
                padding: 10px 10%;
                .item-inner {
                    padding-right: 0;
                    border-bottom: none;
                    .input-wrapper {
                        flex-direction: column-reverse;
                        .label {
                            color:#939599;
                            margin: 0;
                        }
                        .input {
                            color: #ffffff;
                        }
                    }
                            .tm-edit {
                                width: 20px;
                            }
                }
            }
            .tm-notification {
                background: $btn-reg;
                padding: 10px;
                .tm-header {
                    color: #ffffff;
                    padding: 20px 0;
                    text-align: center;
                }
                .tm-check-wrap {
                    display: flex;
                    padding-bottom: 20px;
                    .tm-inner {
                        &.left {
                            width: 70%;
                            ul {
                                padding-left: 50px;
                            }
                        }
                        &.right {
                            width: 30%;
                            ul {
                                padding-left: 0;
                            }
                        }
                        ul {
                            margin: 0;
                            list-style-type: none;
                            li {
                                color: #ffffff;
                                padding: 7px 0;
                                img {
                                    margin-right: 10px;
                                }
                            }
                        }
                        .tm-checkbox {
                            width: 10px;
                        }
                        .input-wrapper {
                            color: #ffffff;
                            font-size: 12px;
                        }
                    }
                }
            } /*End notification */
            .tm-melody {
                background: $bg-dark-grey;
                text-align: center;
                padding: 30px;
                .tm-select {
                    background: transparent;
                    border-radius: 50px;
                    border: 1px solid #787e8a;
                    height: 40px;
                    width: 90%;
                    color: #ffffff;
                    text-align: left;
                    padding-left: 30px;
                    background-image: url(../assets/imgs/drop_down.png);
                    background-repeat: no-repeat;
                    background-position: 90% center;
                    background-size: 15px;
                }
            }
        }
    }
}
