page-map {
    ion-header {
        background-color: rgba(0, 0, 0, .6);
        .toolbar-background-ios {
            background: transparent;
            border: none !important;
        }        
        .toolbar-title {
            color: #ffffff;
        }
        .back-button {
            color: #ffffff;
        }
    }
    .content {
        background-image: url('../assets/imgs/bg.jpg');
        background-size: cover;
        background-position: center;
        .scroll-content {
            background: rgba(0, 0, 0, .5);
        }
    }

}
