page-person {
    ion-header {
        background-color: rgba(38, 42, 51, .7);
        .toolbar-background-ios {
            background: transparent;
            border: none !important;
        }        
        .toolbar-title {
            color: #ffffff;
        }
        .back-button {
            color: #ffffff;
        }
        .tm-settings {
            width: 25px;
        }
    }
    .content {
        background-image: url('../assets/imgs/bg.jpg');
        background-size: cover;
        background-position: center;
        .scroll-content {
            background: rgba(38, 42, 51, .5);
            .tm-person {
                position: relative;
                background: #262a33;
                .tm-control {
                    position: absolute;
                    left: calc(50% - 50px);
                    bottom: 0;
                    height: 55px;
                    width: 100px;
                    background: rgba(38, 42, 51, .5);
                    z-index: 5;
                    .plus {
                        position: absolute;
                        top: 7px;
                        right: 10px;
                    }
                    .minus {
                        position: absolute;
                        top: 7px;
                        left: 10px;
                    }
                    img {
                        width: 35px;
                    }
                }
                .tm-arrow {
                    position: absolute;
                    z-index: 5;
                    &.tm-right {
                        top: calc(50% - 10px);
                        right: 20px;
                    }
                    &.tm-left {
                        top: calc(50% - 10px);
                        left: 20px;
                    }
                    img {
                        height: 20px;
                    }
                }
            }
            .tm-action {
                background: #262a33;
                display: flex;
                .tm-action-block {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 60px;
                    a {
                        color: #ffffff;
                        font-size: 18px;
                    }
                }
            }
            .list-ios {
                margin-bottom: 0;
            }
            .item {
                background: $btn-reg;
                border-bottom: 1px solid rgba(201, 201, 201, .2);
                padding: 10px 10%;
                &.tm-padding {
                    border-top: none;
                    padding-top: 30px;
                }
                &:first-child {
                    border-top: 1px solid rgba(201, 201, 201, .2);
                }
                .item-inner {
                    padding-right: 0;
                    border-bottom: none;
                    .input-wrapper {
                        flex-direction: column-reverse;
                        .label-ios-primary {
                            color:#939599;
                            margin: 0;
                        }
                        .input {
                            color: #ffffff;
                        }
                    }
                            .tm-edit {
                                width: 20px;
                            }
                }
            }
            .tm-kin {
                background: $btn-reg;
                text-align: center;
                padding: 20px 30px;
                .tm-select {
                    background: transparent;
                    border-radius: 50px;
                    border: 1px solid $bg-light-grey;
                    height: 40px;
                    width: 90%;
                    color: #ffffff;
                    text-align: left;
                    padding-left: 30px;
                    background-image: url(../assets/imgs/drop_down.png);
                    background-repeat: no-repeat;
                    background-position: 90% center;
                    background-size: 15px;
                }
                &.melody {
                    background: $bg-dark-grey;
                }
            }
            .tm-address-wrap {
                background: $btn-reg;
                color: #ffffff;
                border-top: 1px solid rgba(201, 201, 201, .2);
                padding: 20px 10%;
                p {
                    color: #939599;
                }
                a {
                    color: #ffffff;
                    font-size: 16px;
                }
            }
            .tm-notification {
                background: $bg-dark-grey;
                padding: 10px;
                border-bottom: 1px solid $bg-light-grey;
                .tm-header {
                    color: #ffffff;
                    padding: 20px 0;
                    text-align: center;
                }
                .tm-check-wrap {
                    display: flex;
                    padding-bottom: 20px;
                    .tm-inner {
                        &.left {
                            width: 70%;
                            ul {
                                padding-left: 50px;
                            }
                        }
                        &.right {
                            width: 30%;
                            ul {
                                padding-left: 0;
                            }
                        }
                        ul {
                            margin: 0;
                            list-style-type: none;
                            li {
                                color: #ffffff;
                                padding: 7px 0;
                                img {
                                    margin-right: 10px;
                                }
                            }
                        }
                        .tm-checkbox {
                            width: 10px;
                        }
                        .input-wrapper {
                            color: #ffffff;
                            font-size: 12px;
                        }
                    }
                }
            } /*End notification */
        }
    }
}
