// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background {
    background: transparent !important;
  }
  .toolbar-title {  
    text-align: center !important;
}
.tabs {
    .tabbar {
        background: #262a33 !important;
        border-top: none;
        padding: 0 10%;
    }
    .tab-button {
        min-height: 70px !important;
        height: 70px !important;
        z-index: 20;
    }
    #tab-t0-0 {
        background: url('../assets/imgs/list_top_54_54.png');
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
    }
    #tab-t0-1 {
        background-image: url('../assets/imgs/calendar_top_54_54.png');
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
    }
    #tab-t0-2 {
        background-image: url('../assets/imgs/holidays_top_54_54.png');
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
    }

}
